body {
	<!--padding-top: 50px;--> 
}

#tag-list{
	padding:10px;
}

#checkbox-show{
	margin-top:15px;
	margin-bottom:15px;
}
.form-filter {
	display: inline-block;
	margin-bottom: 0;
	width: auto;
}
.btn-filter{
	margin-left: 5px;
}